#block1-sec1 {
  background-image: url("images/lestnitsa_arhitektura_zdanie_152333_1920x1080.jpg");
}
#sec3 {
  background-image: url("images/architecture_structure_symmetry_bw_117554_1920x1080.jpg");
}
#order-iface{
  background-image: url("images/poloski_chernyie_seryie_belyie_linii_32.jpg");
  min-height: 100vh;
}

#text-sec3 {
  border: none;
}

.text-sec3-font-size {
  font-size: 25px;
}

#footer-block1 {
  height: 65%;
}

//header
.root{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
}

.hdr-main{
  position: fixed;
  background-color: black;
  height: auto;
  width: 100%;
  margin: 0;
  opacity: 0.85;
  z-index: 1;
}
@media screen and (max-width: 840px) {
  .col-hdr-7 {
    width: 58.33333%;
  }
  .col-hdr-5 {
    width: 41.66667%;
  }
  .col-hdr-12 {
    width: 100%;
  }
  .hdr-flex-wrap {
    flex-wrap: wrap;
  }
  .hdr-d-flex {
    display: flex;
  }
  .hdr-bg-black {
    background-color: black;
    opacity: 0.85;
  }
  .hdr-position-relative {
    position: relative;
  }
  .hdr-flex-column {
    flex-direction: column;
  }
  .hdr-justify-content-end {
    justify-content: flex-end;
  }
  .hdr-align-items-center{
    align-items: center;
  }
  .burger {
    width: 50px;
    height: 35px;
  }

  .burger span,
  .burger::before,
  .burger::after {
    width: 100%;
    height: 3px;
    background: #fff;

    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-radius: 5px;
  }

  .main_nav{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }

  .main_nav.active{
    max-height: 100vh;
  }

  .burger span {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .burger.active span {
    opacity: 0;
  }

  .burger::before {
    top: 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    transition: all 0.5s;
  }

  .burger::after {
    bottom: 0;
  }

  .burger.active::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .burger.active::after {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }
}
//order-desk
#order-desk{
  height:100%;

}

#orders-container{
  overflow-x: hidden;
  overflow-y: auto;
}

#order-filters{
  min-width: 216px;
  overflow-y: auto;
}

#card-box{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}

//order
#img-hw{
  position: sticky;
  width: 90%;
  left:4.9%;
}

#order-link-back{
  color: darkblue;
}
#order-if{
  margin-top: 85px;
}

#sec4-text {
  border: none;
  height: 80%;
}

#logo {
  height: 75px;
  width: 230px;
  margin-left: 10px;
}

#section2,
#section3 {
  background-color: white;
}

#block1-sec2 {
  background-color: white;
  width: 50%;
  height: 100%;
}
#img-sec2-block1 {
  width: 95%;
  height: 90%;
}
#block2-sec2 {
  background-color: white;
  width: 50%;
  height: 100%;
}

#text-block,
#devs-info {
  border: solid lightgrey 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 25px 10px 25px 10px;
  height: 90%;
  flex-direction: column;
  align-items: flex-start;
}

#text1-1 {
  text-align: center;
  font-family: Monospace;
  font-weight: bold;
  font-size: 30px;
  text-indent: 0;
  color: grey;
}

#block2-sec3 {
  background-color: white;
  width: 40%;
  height: 100%;
}

#devs-list {
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#login-section {
  background-image: url("images/an_vision-3Ic5nzXzOf4-unsplash (1).jpg");
}
#login-container {
  background-color: transparent;
}

#div-input {
  width: 100%;
  height: 60%;
}

#div-choose {
  width: 100%;
  height: 60%;
  color: white;
}

#div-btn {
  width: 100%;
  height: 40%;
}

#login-company-btn,
#login-customer-btn {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-customer-btn:hover {
  opacity: 0.8;
  transition: 0.1s;
}
#login-company-btn:hover {
  opacity: 0.8;
  transition: 0.1s;
}

#login-company-btn {
  border-left: 1px solid lightgray;
  border-top-right-radius: 19px;
}
#login-customer-btn {
  border-right: 1px solid lightgray;
  border-top-left-radius: 19px;
}

#company-pic,
#customer-pic {
  background-color: black;
  color: white;

  -webkit-transition: 1.5s ease; /* Safari and Chrome */
  -moz-transition: 1.5s ease; /* Firefox 4 */
  -o-transition: 1.5s ease; /* Opera */
}
#company-pic:hover {
  background-color: white;
  color: black;
  opacity: 1;
}
#customer-pic:hover {
  background-color: white;
  color: black;
  opacity: 1;
}

#zahlushka {
  font-size: 30px;
}

#reg-body {
  background-image: url("images/257.jpg");
}
#reg-cust-body,
#reg-comp-body {
  background-image: url("images/462757.jpg");
}

.fieldset {
  color: white;
  height: inherit;
}

.number {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  color: black;
}
#reg-user-div {
  height: 90%;
  margin-top: 7%;
  margin-bottom: 1%;
}

#div-form-reg {
  height: 85%;
}
#div-btn-reg {
  height: 15%;
  align-items: baseline;
}

.form-sign-up {
  align-items: stretch;
}
#sign-up-redirect-btn{
  color: white;
}

.text-indent-0 {
  text-indent: 0;
}

#div-from-reg-inner {
  height: 95%;
}

#sec5 {
  background-image: url("images/dark-city.jpg");
}

#sec5-textblock {
  height: 85%;
  max-width: inherit;
  background-color: white;
  border: none;
}

.sign-btn {
  font-size: 15px;
  padding: 0;
}

#sign-up-btn {
  width: auto;
}

#reg-form {
  height: 100%;
}

#reg-h1,
#reg-h3 {
  color: white;
}
#reg-h1 {
  font-size: 25px;
}
#reg-h3 {
  font-size: 15px;
}

#reg-section {
  background-image: url("images/black-and-white-architecture-photography-1920x1200.jpg");
}
//customer office
#cust-office{
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}
#cust-office-tabs{
  width: 100%;
}
//profile
#profile-title{
  font-size: 30px;
}
.profile-chapters{
  font-size: 20px;
}
#change-pass-btn{
  margin: 0;
}
.max-width{
  max-width: 194px;
}
//customer orders
#cust-orders-container{
  overflow-x: hidden;
  overflow-y: auto;
}
#cust-order-box{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
#create-order-close-icon{
  height: 20px;
  width: 20px;
}
#create-order-form{
  margin-top: 6%;
}
@media screen and (max-device-width: 425px){
  #create-order-form{
    margin-top: 12%;
  }
}
@media screen and (max-device-width: 768px) {
  #create-order-form {
    margin-top: 9%;
  }
}
